{% extends "skeleton.html" %}
{% block content %}
  <div class="section">
    <div class="posts">
      <a style="cursor: pointer;" href="/publicaciones/verPublicacion">
        <div class="post card">
          <img src="https://source.unsplash.com/random/1920x1080" alt="">
          <h2>Post 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, iusto magnam nisi dolore est
            temporibus
            corporis, deleniti dolorum ab asperiores ullam et dicta a placeat eligendi maxime maiores cum doloremque
            officiis quae, veritatis consequuntur reprehenderit quo. Tempora quaerat quis odit.</p>
        </div>
      </a>
      <a style="cursor: pointer;" href="/publicaciones/verPublicacion">
        <div class="post card">
          <img src="https://source.unsplash.com/random/1919x1080" alt="">
          <h2>Post 2</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eius tempora beatae minima inventore
            recusandae nihil, est cupiditate, ipsa harum alias eveniet repudiandae excepturi ipsum fuga itaque
            consequatur
            fugit iusto quidem optio deserunt commodi doloremque ea aliquam. Reprehenderit, harum labore.</p>
        </div>
      </a>
      <a style="cursor: pointer;" href="/publicaciones/verPublicacion">
        <div class="post card">
          <img src="https://source.unsplash.com/1918x1080" alt="">
          <h2>Post 3</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eius tempora beatae minima inventore
            recusandae nihil, est cupiditate, ipsa harum alias eveniet repudiandae excepturi ipsum fuga itaque
            consequatur
            fugit iusto quidem optio deserunt commodi doloremque ea aliquam. Reprehenderit, harum labore.</p>
        </div>
      </a>
      <a style="cursor: pointer;" href="/publicaciones/verPublicacion">
        <div class="post card">
          <img src="https://source.unsplash.com/random/1921x1090" alt="">
          <h2>Post 4</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eius tempora beatae minima inventore
            recusandae nihil, est cupiditate, ipsa harum alias eveniet repudiandae excepturi ipsum fuga itaque
            consequatur
            fugit iusto quidem optio deserunt commodi doloremque ea aliquam. Reprehenderit, harum labore.</p>
        </div>
      </a>
      <a style="cursor: pointer;" href="/publicaciones/verPublicacion">
        <div class="post card">
          <img src="https://source.unsplash.com/random/1922x1080" alt="">
          <h2>Post 5</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eius tempora beatae minima inventore
            recusandae nihil, est cupiditate, ipsa harum alias eveniet repudiandae excepturi ipsum fuga itaque
            consequatur
            fugit iusto quidem optio deserunt commodi doloremque ea aliquam. Reprehenderit, harum labore.</p>
        </div>
      </a>
      <a style="cursor: pointer;" href="/publicaciones/verPublicacion">
        <div class="post card">
          <img src="https://source.unsplash.com/random/1923x1080" alt="">
          <h2>Post 6</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eius tempora beatae minima inventore
            recusandae nihil, est cupiditate, ipsa harum alias eveniet repudiandae excepturi ipsum fuga itaque
            consequatur
            fugit iusto quidem optio deserunt commodi doloremque ea aliquam. Reprehenderit, harum labore.</p>
        </div>
      </a>
    </div>
  </div>


  </div>
{% endblock %}

